.navbarDiv{
    background-color: #BEEDD1;
    margin: 15px;
    height: 55px;
    width: 200px;
    display: flex;
}

.navbarDiv:hover{
    transform: scale(1.05);
}

.navbarDiv img{
    margin: 10px;
    width: 30px;
    height: 30px;
    
}

.navbarDivText{
    margin: 10px;
    align-content: center;
}
