@model SolarWatchMVC.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Welcome to the login page!</h2>

<div>
    <form asp-action="Login" method="post">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>

<div>
    <p>Need an account? <a asp-controller="Auth" asp-action="Register">Register</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}