@model SolarWatchMVC.ViewModels.RegistrationViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Welcome to the registration page!</h2>

<div>
    <form asp-action="Register" method="post">
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<div>
    <p>Already have an account? <a asp-controller="Auth" asp-action="Login">Log in</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}