.formContainerDiv{
    border-radius: 10px;
    width: max-content;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 500px;
    border-radius: 25px;
}
.formLabel{
    margin: auto;
    padding: 5px;
    font-size: 20px;
    color: black;
    text-align: center;
    width: 200px;
}
.formInput{
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    display: block;
    align-content: center;
    width: 200px;
    font-family: Comfortaa, Arial, sans-serif;
}

.formSubmitButton{
    margin: auto;
    margin-top: 20px;
    background-color: #60B879 ;
    color:white;
    border-radius: 25px;
    width: 200px;
    height: 30px;
    font-family:Comfortaa, Arial, sans-serif; 
    border: none;
    line-height: 1.5;
    font-weight: 600;
    font-size: 15px;
}
.transferText{
    margin-right: 1px;
    padding: 0px;
    width: fit-content;
    display:inline-block;
}
.transferLink{
    display: inline-block;
    color: #033495;
    text-decoration: underline;
    margin-left: 5px;
    padding: 0px;
    background: transparent;
    border: none;
    width: fit-content;
}

.transferDiv{
    margin:auto;
    width:fit-content;
}

h2{
    margin: auto;
}

select,
option{
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    display: block;
    align-content: center;
    width: 200px;
    background-color: white;
}