* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Comfortaa, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0;

  color: #112226;
  background: #beedd1;
  background: linear-gradient(180deg, #beedd1 0%, #fbffcf 100%);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}

.logoDefault{
  flex: auto;
  font-family: Inspiration;
  align-items: center;
}

.logoNavbarResize{
   width: 150px;
  margin: 40px;
  margin-top: 30px;
}
.logoNavbarResize img {
  width: 100px;
  margin-left: 12px
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #112226;*/
/*    background: #beedd1;*/
/*    background: linear-gradient(180deg, #beedd1 0%, #fbffcf 100%);*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/

.mainButton{
  margin-left: 20px;
  margin-top: 20px;
  background-color: #60B879 ;
  color:white;
  border-radius: 25px;
  width: 200px;
  height: 35px;
  font-family:Comfortaa, Arial, sans-serif;
  border: none;
  line-height: 1.5;
  font-weight: 600;
  font-size: 15px;
}
.mainButton:hover{
  background-color: #66d385;
}
