.jointContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   justify-content: center;
}

.formContainer{
    margin-left: 50px;
    width: 300px;
}

.title{
    display: block;
    width: 100%;
}

.addNewTransactionForm{
    width: 300px;
}
.transFormInput{
    border-radius: 10px;
    padding: 5px;
    display: block;
    align-content: center;
    width: 200px;
    margin-left: 0px;
    maring-bottom: 10px;
    font-family: Comfortaa, Arial, sans-serif;
}
.nameDiv{
    height: 40px;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
}

.chosenCategory{
    background-color: #BEEDD1;
}

hr{
    margin-top: 25px;
    margin-bottom: 60px;
}
.iconsDiv img{
    margin: 10px;
    width: 30px;
    height: 30px;
    margin: 5px 20px;
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
    width: 20vw;
    
}


.categoryDiv{
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 5px;
    align-items: center;
    border: 2px solid black;
    flex: 1 1 calc(30% - 10px); 
    box-sizing: border-box; 
}


.categoryName{
    font-size: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 3px;
}


.type{
    width: 200px;
    margin: 5px;
    align-items: center;
    border: 2px solid black;
    flex: 1 1 calc(30% - 10px);
    box-sizing: border-box;
    height: 65px;
    display: flex;          
    justify-content: center;
}

.typeText{
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    font-family: Comfortaa, Arial, sans-serif;
}

.type:hover{
    font-weight: bolder;
    border: 3px solid black;
}

.chosen{
    font-weight: bolder;
    border: 3px solid black;
}

.transFormSubmitButton{
    margin-top: 20px;
    background-color: #60B879 ;
    color:white;
    border-radius: 25px;
    width: 50%;
    height: 30px;
    font-family:Comfortaa, Arial, sans-serif;
    border: none;
    line-height: 1.5;
    font-weight: 600;
    font-size: 15px;
    display: block;
}

.nameCont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.expenseButton{
    background-color: #e8aaaa;
}

.incomeButton{
    background-color: #60B879;
}

.notChosen{
    opacity: 50%;
}

.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    width: 60px;
}

.slider.round:before {
    border-radius: 50%;
}
